//- ** This is a sample of a pug template and how it uses the data passed to it from index.js.

doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Hobbies
        .cards 
            each hobby in data
                .card 
                    h2.card__name #{hobby.properties.name}
                    br
                    p Time from first start: #{hobby.properties.time_from_first_start_in_years} years ago
                    br
                    p Inspired by: #{hobby.properties.how_inspired_you_to_start}