doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Custom Object Table
        a(href="/update-cobj") Add to this table
        if data && data.length
            table.table
                thead
                    tr
                        th Name 
                        th Time from first start (in years)
                        th Who inspired you to start
                tbody
                    each hobby in data
                        tr
                            td=hobby.properties.name
                            td=hobby.properties.time_from_first_start_in_years
                            td=hobby.properties.how_inspired_you_to_start
        else
            p No custom object records